<div class="row">
  <div class="col-sm-4">
    <div class="profile-photo" style="background:url({{user.photo.secure_url}}) no-repeat center / cover"></div>
  </div>
  <div class="col-sm-8">
    <h2> Hello {{ user.username }}.</h2>
    <p>{{user.aboutme}}</p>
  </div>
</div>
<div class="row user">
  <div class="col-sm-12 underline">
    <h3>My comic lists</h3>
  </div>
  <div class="col-sm-6">
    <a href="/lists" class="btn btn-dark" role="button">View all lists</a>
  </div>
  <div class="col-sm-6">
    <a href="/lists/create" class="btn btn-light" role="button">Create new list</a>
  </div>
</div>
<div class="row user">
  {{#each list}}
    <div class="col-sm-6">
      <h3><a href="/lists/list?id={{this.id}}">{{this.name}}</a></h3>       
        {{#each this.id_comic}}
              <img src="{{this.img_icon}}" alt="{{this.title}}">
              <p>{{this.title}}</p>
        {{else}}
          <h4 class="no-object">Empty list</h4>
        {{/each}}
    </div>
  {{else}}
    <h4 class="no-object">No lists created</h4>
  {{/each}}
</div>
<div class="row user">
  <div class="col-sm-12">
    <a href="/lists" class="btn btn-dark" role="button">View all lists</a>
  </div>
</div>

