<img src="{{datacomic.image.img_medium}}" alt="{{datacomic.name}} cover page">
<p>{{datacomic.name}}</p>
<p>{{datacomic.volume}}</p>
<p>{{datacomic.issue_number}}</p>

<a href="/lists" class="btn" role="button">Back to my lists</a>